@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");

:root {
  --pico-font-family: "Literata", var(--font-old-style), system-ui;
  --pico-font-size: 87.5%;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 1rem;
  --pico-border-radius: 0.375rem;
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 93.75%;
    /* Original: 106.25% */
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 112.5% */
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 106.25%;
    /* Original: 118.75% */
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 112.5%;
    /* Original: 125% */
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 118.75%;
    /* Original: 131.25% */
  }
}


[data-theme=dark] {
  color-scheme: dark;
  --pico-color: var(--gray-5);
  --pico-muted-color: var(--gray-6);
  --pico-primary: var(--blue-5);
  --pico-primary-background: var(--blue-6);
  --pico-primary-hover: var(--blue-3);
  --pico-primary-hover-background: var(--blue-4);
  --pico-secondary: var(--gray-5);
  --pico-secondary-background: var(--gray-6);
  --pico-contrast: var(--gray-2);
  --pico-h1-color: var(--yellow-5);
  --pico-h2-color: var(--gray-2);
  --pico-h3-color: var(--gray-2);
  --pico-h4-color: var(--gray-2);
  --pico-h5-color: var(--gray-2);
  --pico-h6-color: var(--gray-2);
  --pico-accordion-active-summary-color: var(--pico-color);
  --pico-tooltip-background-color: var(--gray-8);
  --pico-tooltip-color: var(--pico-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 600;
}

h1 {
  text-shadow: -1px -1px 0 var(--orange-10), 1px -1px 0 var(--orange-10), -1px 1px 0 var(--orange-10),
    1px 1px 0 var(--orange-10);
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: block;
}
.htmx-request.htmx-indicator {
  display: block;
}
.copy-entry {
  cursor: pointer;
  float: right;
}

.unit-head-container {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
}

.lt-color-red {
  color: var(--red-10);
}
.lt-color-yellow {
  color: var(--yellow-3);
}
.lt-color-pink {
  color: var(--pink-7);
}
.lt-color-violet {
  color: var(--violet-8);
}
.lt-color-green {
  color: var(--green-8);
}
.lt-color-orange {
  color: var(--orange-6);
}

body>header {
  background: linear-gradient(
      to bottom,
      rgba(19, 22.5, 30.5, 0.85),
      var(--pico-background-color)
    ),
    url("../images/bg.png");
  
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav details.dropdown {
  display: inline-block;
  width: fit-content;
}

nav[role="burger"] details.dropdown summary::after {
  display: none;
}

@media (min-width: 576px) {
  nav[role="burger"] {
    display: none;
  }
  .sidebar-toggle {
    display: none;
  }
}
@media (max-width: 576px) {
  nav[role="menu"] {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar-open {
    display: block;
  }
  .sidebar-toggle-hide {
    display: none;
  }
}
.sidebar {
  width: 100%;
  position: sticky;
  top: 1rem;
  left: 0;
  padding-bottom: 2rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-toggle {
  position: sticky;
  top: 1rem;
  z-index: 7;
}
.container-fluid-sidebar {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

svg.size-6 {
  height: 24px;
  width: 24px;
}
