@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");

:root {
  --pico-font-family-sans-serif: "Literata", Inter, system-ui, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue",
    sans-serif, var(--pico-font-family-emoji);
  --pico-font-size: 87.5%;
  /* Original: 100% */
  --pico-form-element-spacing-vertical: 0.5rem;
  /* Original: 1rem */
  --pico-form-element-spacing-horizontal: 1rem;
  /* Original: 1.25rem */
  --pico-border-radius: 0.375rem;
  /* Original: 0.25rem */
  --pico-card-background-color: #181c256c;
  --pico-card-sectioning-background-color: rgb(26, 30.5, 40.25, 0.9);
  
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 93.75%;
    /* Original: 106.25% */
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 112.5% */
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 106.25%;
    /* Original: 118.75% */
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 112.5%;
    /* Original: 125% */
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 118.75%;
    /* Original: 131.25% */
  }
}

h1 {
  color: #fecc63;
  text-shadow: -1px -1px 0 #942d0d, /* Top-left shadow */ 1px -1px 0 #942d0d,
    /* Top-right shadow */ -1px 1px 0 #942d0d,
    /* Bottom-left shadow */ 1px 1px 0 #942d0d; /* Bottom-right shadow */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 600;
  /* Original: 700 */
}

article {
  border: 1px solid var(--pico-muted-border-color);
  /* Original doesn't have a border */
  border-radius: calc(var(--pico-border-radius) * 2);
  /* Original: var(--pico-border-radius) */
}

article > footer {
  border-radius: calc(var(--pico-border-radius) * 2);
  /* Original: var(--pico-border-radius) */
}

.clickable {
  cursor: pointer;
}

.align-right {
  margin: 0;
  margin-left: 0px;
  margin-left: var(--pico-spacing);
  padding: 0;
  float: right;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: block;
}
.htmx-request.htmx-indicator {
  display: block;
}

.unit-head-container {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
}

.lt-color-red {
  color: var(--red-10);
}
.lt-color-yellow {
  color: var(--yellow-3);
}
.lt-color-pink {
  color: var(--pink-7);
}
.lt-color-violet {
  color: var(--violet-8);
}
.lt-color-green {
  color: var(--green-8);
}
.lt-color-orange {
  color: var(--orange-6);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(19, 22.5, 30.5, 0.9),
      rgba(19, 22.5, 30.5, 1)
    ),
    url("../images/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.feClassImg {
  width: 48px; /* Desired width of the cropped area */
  height: 34px; /* Desired height of the cropped area */
  overflow: hidden; /* Hides any content extending beyond the container */
  display: inline-block;
}

.feClassImg img{
  vertical-align: baseline;
  width: 100%; /* Ensures the GIF fills the container's width */
  height: 100%; /* Ensures the GIF fills the container's height */
  object-fit: none; /* Crops the GIF to fit the container while maintaining aspect ratio */
  object-position: center; /* Centers the GIF within the container. Can be adjusted (e.g., "25% 25%") to control the visible area. */
}

nav details.dropdown {
  display: inline-block;
  width:fit-content;
}

@media (min-width: 576px) {
nav[role="burger"] {
    display: none;
  }
}
@media (max-width: 576px) {
  nav[role="menu"] {
    display: none;
  }
}
