{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% endif %}
{% block title %}Arsenals | {% endblock %}
{% block content %}
<h1>Arsenals</h1>
<section>
    <form>
        <fieldset class="grid">
            <div>
                <select name="unitCategory" id="unitCategory" aria-label="Select category" required
                    _="on change set myFilter to me.value then show <select/> in #unitSelector when its.getAttribute('data-category') is myFilter then set .unitSelect.value to 'default' then
                    on load set myFilter to me.value then show <select/> in #unitSelector when its.getAttribute('data-category') is myFilter then set .unitSelect.value to 'default'">
                    <option value="Vanilla">Vanilla</option>
                    <option value="Monsters">Monsters</option>
                    <option value="Dragon Gate">Dragon's Gate</option>
                </select>
            </div>
            <div id="unitSelector">
                {% for unit_category,units in arsenal_units.items() %}
                <select class="unitSelect" name="unitSelect" aria-label="Select unit"
                    data-category="{{ unit_category }}" required hx-get="/items/arsenals" hx-vals='{"addCopy": "True"}'
                    hx-target="#arsenalSheet" hx-swap="outerHTML" hx-indicator="#arsenalSheet">
                    <option value="default" selected disabled>Select a unit</option>
                    {% for unit in units %}
                    <option value="{{ unit.nid }}">{{ unit.name }}</option>
                    {% endfor %}
                </select>
                {% endfor %}
            </div>
        </fieldset>
    </form>
</section>
<div aria-busy="true" class="htmx-indicator"></div>
<div id="arsenalSheet">
</div>
{% endblock content %}