{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% block title %}{{ class_data.name }} &mdash; Classes | {% endblock %}
{% endif %}
{% block content %}
<div id="classSheet">
    <div class="unit-head-container">
        <div class="div1">
            <img src="{{ url_for('static',filename='images/map_sprites/'+class_data.map_sprite_nid+'-stand.webp') }}"
                height="96" width="96" />
        </div>
        <div class="div2">
            <hgroup>
                <h2>{{ class_data.name }}</h2>
                <p>{{ class_data.desc }}
                    {% if class_data.weapons%}
                    <br />
                    <span class="lt-color-red">Prof:</span>
                    {% for weapon in class_data.weapons%}
                    <span class="{{ weapon.icon_class }}"></span>
                    {% endfor %}
                    {% endif %}
                </p>
            </hgroup>
        </div>
    </div>

    <div class="overflow-auto">
        <table class="striped">
            {% set stat_names = ('HP','STR','MAG','SKL','SPD','LCK','DEF','RES','CON','MOV') %}
            <thead>
                <tr>
                    <th scope="col">Stat</th>
                    {% for stat_name in stat_names %}
                    <th scope="col">{{ stat_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">On Promo</th>
                    {% for stat_name in stat_names[:-1] %}
                    <td>+{{ class_data.promotion[stat_name] }}</td>
                    {% endfor %}
                    <td>{{ class_data.bases['MOV'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Growth</th>
                    {% for stat_name in stat_names %}
                    <td class="lt-color-{{ class_data.growth_bonus[stat_name]|growth_colors }}">+{{
                        class_data.growth_bonus[stat_name] }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Cap</th>
                    {% for stat_name in stat_names %}
                    <td>{{ class_data.max_stats[stat_name] }}</td>
                    {% endfor %}
                </tr>
        </table>
    </div>

    {% if class_data.learned_skills %}
    <details open>
        <summary>Skills</summary>
        <div class="skill-grid">
            {% for skill_assoc in class_data.learned_skills|sort(attribute="level") %}
            <div>
                <p><small>Level {{skill_assoc.level}}</small></p>
                <div hx-get=/skills/{{skill_assoc.skill_nid}} hx-trigger="load" hx-target="this" hx-swap="outerHTML">
                </div>
            </div>
            {% endfor %}
        </div>
    </details>
    <hr />
    {% endif %}

    {% if class_data.turns_into or class_data.promotes_from%}
    <div class="grid">
        {% if class_data.promotes_from %}
        <details open>
            <summary>Promotes From</summary>
            <ul>
                {% for prev_class_data in class_data.promotes_from %}
                <li><a href="#" hx-get="/classes/{{prev_class_data.nid}}" hx-target="#classSheet"
                        hx-vals='{"addCopy":"True"}' hx-swap="outerHTML">{{prev_class_data.name}} {% if
                        prev_class_data.alt_name %}({{
                        prev_class_data.alt_name }}){% endif %}</a>
                    {% if prev_class_data.weapons%}
                    {% for weapon in prev_class_data.weapons%}
                    <span class="{{ weapon.icon_class }}"></span>
                    {% endfor %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </details>
        {% endif %}
        {% if class_data.turns_into %}
        <details open>
            <summary>Promotes To</summary>
            <ul>
                {% for next_class_data in class_data.turns_into %}
                <li><a href="#" hx-get="/classes/{{next_class_data.nid}}" hx-target="#classSheet"
                        hx-vals='{"addCopy":"True"}' hx-swap="outerHTML">{{next_class_data.name}} {% if
                        next_class_data.alt_name %}({{
                        next_class_data.alt_name }}){% endif %}</a>
                    {% if next_class_data.weapons%}
                    {% for weapon in next_class_data.weapons%}
                    <span class="{{ weapon.icon_class }}"></span>
                    {% endfor %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </details>
        {% endif %}
    </div>
    {% endif %}
    {% if class_data.categories %}
    <strong><small>Categories:</small></strong>
    {% for class_cat in class_data.categories|sort(attribute='order_key')%}
    <a href="/classes?selectedCategory={{ class_cat.nid }}"><small>{{ class_cat.name }}</small></a>
    {% if not loop.last %}
    |
    {% else %}
    &nbsp;&nbsp;
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}