{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% endif %}
{% block content %}
<h1>Credits</h1>
<section>
    <h2>Icons - Skills, Items, Spells, Etc.</h2>
    <ul>
        <li>{dancer_A, Rubber} Alt skill sheet (if there is anyone else on this one, please let the FE8R DEv me know.)
        </li>
        <li>{2WB, Hanakko} Dark Bow</li>
        <li>{2WB} (Icon Blitz 1) DARK Unknown</li>
        <li>{2WB} (Icon Blitz 1) DARK Unknown</li>
        <li>{2WB} (Icon Blitz 1) Devil Bow.png</li>
        <li>{2WB} (Icon Blitz 1) Devil Sword</li>
        <li>{2WB} (Icon Blitz 1) Dracospear</li>
        <li>{2WB} (Icon Blitz 1) Durandal (Ablaze)</li>
        <li>{2WB} (Icon Blitz 1) Earthsword</li>
        <li>{2WB} (Icon Blitz 1) Eclipse</li>
        <li>{2WB} (Icon Blitz 1) Excalibur (3, 12)</li>
        <li>{2WB} (Icon Blitz 1) Excalibur (Bow).png</li>
        <li>{2WB} (Icon Blitz 1) Excalibur (Bow).png</li>
        <li>{2WB} (Icon Blitz 1) Fenrir</li>
        <li>{2WB} (Icon Blitz 1) Fimbulvetr1.png</li>
        <li>{2WB} (Icon Blitz 1) Fire</li>
        <li>{2WB} (Icon Blitz 1) Fire</li>
        <li>{2WB} (Icon Blitz 1) Flux</li>
        <li>{2WB} (Icon Blitz 1) Hunting Bow.png</li>
        <li>{2WB} (Icon Blitz 1) Imperial Blade2</li>
        <li>{2WB} (Icon Blitz 1) Imperial Lance2</li>
        <li>{2WB} (Icon Blitz 1) Imperial Lance2</li>
        <li>{2WB} (Icon Blitz 1) Imperial Poleaxe1.png</li>
        <li>{2WB} (Icon Blitz 1) Iron Arch2</li>
        <li>{2WB} (Icon Blitz 1) Iron Bow1</li>
        <li>{2WB} (Icon Blitz 1) Iron Greatlance2</li>
        <li>{2WB} (Icon Blitz 1) Iron Sword1</li>
        <li>{2WB} (Icon Blitz 1) Killer Axe</li>
        <li>{2WB} (Icon Blitz 1) Killer Bow</li>
        <li>{2WB} (Icon Blitz 1) Killer Lance</li>
        <li>{2WB} (Icon Blitz 1) Killing Edge</li>
        <li>{2WB} (Icon Blitz 1) Light Brand</li>
        <li>{2WB} (Icon Blitz 1) Luna</li>
        <li>{2WB} (Icon Blitz 1) Nosferatu</li>
        <li>{2WB} (Icon Blitz 1) Physic</li>
        <li>{2WB} (Icon Blitz 1) Regal Sword</li>
        <li>{2WB} (Icon Blitz 1) Reinefleche______Gilliam</li>
        <li>{2WB} (Icon Blitz 1) Rex Hasta</li>
        <li>{2WB} (Icon Blitz 1) Runesword</li>
        <li>{2WB} (Icon Blitz 1) Short Spear</li>
        <li>{2WB} (Icon Blitz 1) Silver Arch1</li>
        <li>{2WB} (Icon Blitz 1) Silver Arch1.png</li>
        <li>{2WB} (Icon Blitz 1) Silver Arch1.png</li>
        <li>{2WB} (Icon Blitz 1) Silver Arch2</li>
        <li>{2WB} (Icon Blitz 1) Silver Axe1</li>
        <li>{2WB} (Icon Blitz 1) Silver Bow1</li>
        <li>{2WB} (Icon Blitz 1) Silver Greatlance2</li>
        <li>{2WB} (Icon Blitz 1) Silver Poleaxe2.png</li>
        <li>{2WB} (Icon Blitz 1) Silver Sword1</li>
        <li>{2WB} (Icon Blitz 1) Slim Axe.png</li>
        <li>{2WB} (Icon Blitz 1) Slim Bow</li>
        <li>{2WB} (Icon Blitz 1) Slim Sword</li>
        <li>{2WB} (Icon Blitz 1) Slime</li>
        <li>{2WB} (Icon Blitz 1) Steel Arch1</li>
        <li>{2WB} (Icon Blitz 1) Steel Arch2</li>
        <li>{2WB} (Icon Blitz 1) Steel Blade2</li>
        <li>{2WB} (Icon Blitz 1) Steel Poleaxe1</li>
        <li>{2WB} (Icon Blitz 1) Steel Sword1</li>
        <li>{2WB} (Icon Blitz 1) Tomahawk.png</li>
        <li>{2WB} (Icon Blitz 1) ULTIMATE BOW1</li>
        <li>{2WB} (Icon Blitz 1) UNKNOWN Axe2.png</li>
        <li>{2WB} (Icon Blitz 1) Wo Dao</li>
        <li>{2WB} (Icon Blitz 1) Wyrmslayer</li>
        <li>{2WB} (Icon Blitz 1) Zanbatou</li>
        <li>{2WB} (Vanilla + Blitz) Armads</li>
        <li>{2WB} (Vanilla + Blitz) Binding Blade</li>
        <li>{2WB} (Vanilla + Blitz) Bright Lance</li>
        <li>{2WB} (Vanilla + Blitz) Demon Surge</li>
        <li>{2WB} (Vanilla + Blitz) Eckesachs</li>
        <li>{2WB} (Vanilla + Blitz) Elfire</li>
        <li>{2WB} (Vanilla + Blitz) Emblem Lance</li>
        <li>{2WB} (Vanilla + Blitz) Fimbulvetr</li>
        <li>{2WB} (Vanilla + Blitz) Gant s Lance</li>
        <li>{2WB} (Vanilla + Blitz) Hellfang</li>
        <li>{2WB} (Vanilla + Blitz) Killer Ballista</li>
        <li>{2WB} (Vanilla + Blitz) Light Brand</li>
        <li>{2WB} (Vanilla + Blitz) Magestone</li>
        <li>{2WB} (Vanilla + Blitz) Magestone.png</li>
        <li>{2WB} (Vanilla + Blitz) Maltet</li>
        <li>{2WB} (Vanilla + Blitz) Mulagir</li>
        <li>{2WB} (Vanilla + Blitz) Sharp Talon</li>
        <li>{2WB} (Vanilla + Blitz) Vidofnir</li>
        <li>{7743} [Ice] Blizzag</li>
        <li>{Alice} Empty Icon.png</li>
        <li>{Alice} Surge GBA-1.png</li>
        <li>{Arch} [Anima] Ragnarok</li>
        <li>{ArchaneaIconProject} 2019</li>
        <li>{Artist Unknown, Hanakko} Dark Spear</li>
        <li>{Artist Unknown} Axe 2</li>
        <li>{Artist Unknown} Axe 2<strong><em>_</em></strong>__Ross</li>
        <li>{Artist Unknown} Bow 1.png</li>
        <li>{Artist Unknown} Bow 2</li>
        <li>{Artist Unknown} Bow 4.png</li>
        <li>{Artist Unknown} Fire Magic (2)</li>
        <li>{Artist Unknown} Lance 2.png</li>
        <li>{Artist Unknown} Staff 1</li>
        <li>{Artist Unknown} Sword 2</li>
        <li>{Artist Unknown} Sword 9.png</li>
        <li>{AtelierLabs} bow 1.png</li>
        <li>{AtelierLabs} Lunar Ray-1.png</li>
        <li>{AtelierLabs} monster 1.png</li>
        <li>{AtelierLabs} scythe 1.png</li>
        <li>{AtelierLabs} spear 1.png</li>
        <li>{AtelierLabs} spear 2.png</li>
        <li>{AtelierLabs} staff 3</li>
        <li>{AtelierLabs} sword 10.png</li>
        <li>{AtelierLabs} sword 13.png</li>
        <li>{AtelierLabs} sword 14.png</li>
        <li>{AtelierLabs} sword 2______Franz</li>
        <li>{AtelierLabs} sword 4.png</li>
        <li>{AtelierLabs} sword 6.png</li>
        <li>{AtelierLabs} sword 7.png</li>
        <li>{AtelierLabs} sword 8.png</li>
        <li>{AtelierLabs}sword 1.png</li>
        <li>{Batima?} Monster-Dragon<strong><em>_</em></strong>Thetis 1</li>
        <li>{Batima?} Monster-Dragon<strong><em>_</em></strong>Thetis2</li>
        <li>{Batima?} Multishot<strong><em>_</em>_icono</strong>____arco tensado con fondo verde.</li>
        <li>{Batima?} Quick Blade<strong><em>_</em>_icono</strong>__Quick Blade</li>
        <li>{Batima} Arbalest</li>
        <li>{Batima} Armads</li>
        <li>{Batima} Armads<strong><em>_</em></strong>_____Moulder</li>
        <li>{Batima} Beastkiller.png</li>
        <li>{Batima} Blizzard (POR)</li>
        <li>{Batima} Bolganone (FEA).png</li>
        <li>{Batima} Book of Naga (Alt Color 2)</li>
        <li>{Batima} Book of Naga (Alt Color)</li>
        <li>{Batima} Bowgun</li>
        <li>{Batima} Brass Katana.png</li>
        <li>{Batima} Brass Naginata.png</li>
        <li>{Batima} Brave Bow (Tellius)</li>
        <li>{Batima} Brave Lance (DS)</li>
        <li>{Batima} Broken Poleaxe</li>
        <li>{Batima} Bronze Blade</li>
        <li>{Batima} Bronze Poleaxe</li>
        <li>{Batima} Bronze Sword</li>
        <li>{Batima} Bull Blade-1.png</li>
        <li>{Batima} Crossbow</li>
        <li>{Batima} Dark Spikes</li>
        <li>{Batima} Dark Spikes</li>
        <li>{Batima} Double Bow (FEA OLD)</li>
        <li>{Batima} Dragonstone+ - Alt3</li>
        <li>{Batima} Dulam</li>
        <li>{Batima} Excalibur (FEA) - Alt</li>
        <li>{Batima} Failnaught.png</li>
        <li>{Batima} Falchion (Archanea) - Exalted</li>
        <li>{Batima} Falchion (Ylisse) - Exalted-1.png</li>
        <li>{Batima} Flame Sword-1.png</li>
        <li>{Batima} Forseti</li>
        <li>{Batima} Freikugel (WIP)</li>
        <li>{Batima} Freikugel (WIP) (Glowing)</li>
        <li>{Batima} Fujin Yumi.png</li>
        <li>{Batima} Gáe Bolg</li>
        <li>{Batima} Geirskögul <strong><em>_</em></strong>Seth</li>
        <li>{Batima} Geosphere (Vert)</li>
        <li>{Batima} Glass Bow</li>
        <li>{Batima} Glower (DS)</li>
        <li>{Batima} Great Ballista.png</li>
        <li>{Batima} Gungnir</li>
        <li>{Batima} Hauteclere</li>
        <li>{Batima} Helswath</li>
        <li>{Batima} Imhullu</li>
        <li>{Batima} Iote's Shield</li>
        <li>{Batima} Iron Club</li>
        <li>{Batima} Iron Dagger</li>
        <li>{Batima} Iron Naginata</li>
        <li>{Batima} Killing Edge (FEA)</li>
        <li>{Batima} Levin Sword</li>
        <li>{Batima} Light (Lightning) (Alt Color)</li>
        <li>{Batima} Longsword.png</li>
        <li>{Batima} Loptous (Custom) (Alt)</li>
        <li>{Batima} Loptous (Custom) (Alt)</li>
        <li>{Batima} Loptous (Custom) (Alt)<strong><em>_</em></strong>Saleh</li>
        <li>{Batima} Luce (Alt Color)</li>
        <li>{Batima} Mareeta's Sword</li>
        <li>{Batima} Meisteraxt</li>
        <li>{Batima} Meisterbogen.png</li>
        <li>{Batima} Meisterschwert</li>
        <li>{Batima} Merric's Tome.png</li>
        <li>{Batima} Missiletainn.png</li>
        <li>{Batima} Nameless Blade</li>
        <li>{Batima} Nini's Ice Lance.png</li>
        <li>{Batima} Onager.png</li>
        <li>{Batima} Pachyderm.png</li>
        <li>{Batima} Panther Lance.png</li>
        <li>{Batima} Poison Ballista.png</li>
        <li>{Batima} Poison Dagger.png</li>
        <li>{Batima} Ragnell (FEA)</li>
        <li>{Batima} Ragnell (FEA)</li>
        <li>{Batima} Ragnell (FEA)_____Gerik</li>
        <li>{Batima} Regal Blade.png</li>
        <li>{Batima} Rexaura (Alt Color).png</li>
        <li>{Batima} Rexcalibur</li>
        <li>{Batima} Silver Club</li>
        <li>{Batima} Silver Dagger.png</li>
        <li>{Batima} Silver Greatlance</li>
        <li>{Batima} Silver Longbow.png</li>
        <li>{Batima} Silver Naginata</li>
        <li>{Batima} Silver Poleaxe</li>
        <li>{Batima} Silver Yumi.png</li>
        <li>{Batima} Sol Katti (FEA)</li>
        <li>{Batima} Spear (Custom)</li>
        <li>{Batima} Starlight (DS).png</li>
        <li>{Batima} Steel Club</li>
        <li>{Batima} Steel Dagger.png</li>
        <li>{Batima} Steel Longbow.png</li>
        <li>{Batima} Steel Naginata - Fancy</li>
        <li>{Batima} Steel Poleaxe</li>
        <li>{Batima} Swarm (DS)</li>
        <li>{Batima} Swordslayer</li>
        <li>{Batima} Swordslayer</li>
        <li>{Batima} Swordslayer<strong><em>_</em></strong>_Duessel</li>
        <li>{Batima} Swordslayer-1.png</li>
        <li>{Batima} Thani - Alt</li>
        <li>{Batima} Thunderbolt.png</li>
        <li>{Batima} Tyrfing(FEA)</li>
        <li>{Batima} Tyrfing(FEA)</li>
        <li>{Batima} Unused Ring 1</li>
        <li>{Batima} Urvan</li>
        <li>{Batima} Valflame</li>
        <li>{Batima} Valkyrie</li>
        <li>{Batima} Yato (Blazing)</li>
        <li>{Batima} Yato (Noble) (Glowing)</li>
        <li>{Batima} Yato (Omega) (Glowing).png</li>
        <li>{Batima} Yewfelle - Copia.png</li>
        <li>{Batima} Zanbato (Edit)</li>
        <li>{BBHood217}</li>
        <li>{Beansy} Angel Crown</li>
        <li>{Beansy} Angel Tear2</li>
        <li>{Beansy} Arectaris</li>
        <li>{Beansy} Arectaris.png</li>
        <li>{Beansy} Audhulma</li>
        <li>{Beansy} Aura</li>
        <li>{Beansy} Aurora.png</li>
        <li>{Beansy} Aymr</li>
        <li>{Beansy} Barrier</li>
        <li>{Beansy} Battle Axe</li>
        <li>{Beansy} Black Fang.png</li>
        <li>{Beansy} Blue Wave Sword</li>
        <li>{Beansy} Bolverk</li>
        <li>{Beansy} Bowgun</li>
        <li>{Beansy} Bronze Axe</li>
        <li>{Beansy} Brynhildr</li>
        <li>{Beansy} Collapse</li>
        <li>{Beansy} Crablass.png</li>
        <li>{Beansy} Crystal Sword.png</li>
        <li>{Beansy} Deathsickle.png</li>
        <li>{Beansy} Devil Axe</li>
        <li>{Beansy} Dragon Axe</li>
        <li>{Beansy} Ease</li>
        <li>{Beansy} Edge</li>
        <li>{Beansy} Evil Nos Spear</li>
        <li>{Beansy} Fiendcleaver</li>
        <li>{Beansy} Fimbulvetr</li>
        <li>{Beansy} Fimbulvetr</li>
        <li>{Beansy} Frost Blade.png</li>
        <li>{Beansy} Gigaflame</li>
        <li>{Beansy} Gilded Claw.png</li>
        <li>{Beansy} Hailstorm</li>
        <li>{Beansy} Heal</li>
        <li>{Beansy} Helix Blade (Half 1)</li>
        <li>{Beansy} Helix Blade (Half 2)</li>
        <li>{Beansy} Helix Blade (Vengeful).png</li>
        <li>{Beansy} Helix Blade.png</li>
        <li>{Beansy} Ice Shard</li>
        <li>{Beansy} Icebolt</li>
        <li>{Beansy} Iron Ballista</li>
        <li>{Beansy} Ivaldi</li>
        <li>{Beansy} Killer Axe+</li>
        <li>{Beansy} Killer Bow+</li>
        <li>{Beansy} Killer Lance</li>
        <li>{Beansy} Killer Scythe.png</li>
        <li>{Beansy} Lancereaver</li>
        <li>{Beansy} Magic Bow.png</li>
        <li>{Beansy} Miasma</li>
        <li>{Beansy} Poison Axe</li>
        <li>{Beansy} Purple Wave Sword</li>
        <li>{Beansy} Recover</li>
        <li>{Beansy} Ring Black</li>
        <li>{Beansy} Ring Blue</li>
        <li>{Beansy} Ring Green</li>
        <li>{Beansy} Ring Red</li>
        <li>{Beansy} Ruby Sword</li>
        <li>{Beansy} Scythe.png</li>
        <li>{Beansy} Short Axe(Vanilla)</li>
        <li>{Beansy} Silver Axe</li>
        <li>{Beansy} Sleep</li>
        <li>{Beansy} Solar Flare.png</li>
        <li>{Beansy} Sord.png</li>
        <li>{Beansy} Spear</li>
        <li>{Beansy} Steel Axe</li>
        <li>{Beansy} Steel Scythe.png</li>
        <li>{Beansy} Sunbeam.png</li>
        <li>{Beansy} Swordslayer</li>
        <li>{Beansy} Toxic Gas.png</li>
        <li>{Beansy} True Lens</li>
        <li>{Beansy} Warp Axe</li>
        <li>{Beansy} Wind Sword.png</li>
        <li>{Beansy} Yato</li>
        <li>{Bonzai, Blazer} [Ice] Aqua Edge</li>
        <li>{CamTech075} (Pack 1) icon 006</li>
        <li>{CamTech075} (Pack 1) icon 007</li>
        <li>{CamTech075} (Pack 1) icon 009</li>
        <li>{CamTech075} (Pack 1) icon 010.png</li>
        <li>{CamTech075} (Pack 1) icon 015</li>
        <li>{CamTech075} (Pack 1) icon 019</li>
        <li>{CamTech075} (Pack 1) icon 026</li>
        <li>{CamTech075} (Pack 1) icon 030.png</li>
        <li>{CamTech075} (Pack 1) icon 041.png</li>
        <li>{CamTech075} (Pack 1) icon 049</li>
        <li>{CamTech075} (Pack 1) icon 057<strong><em>_</em></strong>_Vanessa</li>
        <li>{CamTech075} (Pack 1) icon 079.png</li>
        <li>{CamTech075} (Pack 1) icon 081.png</li>
        <li>{CamTech075} (Pack 1) icon 108.png</li>
        <li>{CamTech075} (Pack 1) icon 121.png</li>
        <li>{CamTech075} (Pack 2) icon 003</li>
        <li>{CamTech075} (Pack 2) icon 005.png</li>
        <li>{CamTech075} (Pack 2) icon 006.png</li>
        <li>{CamTech075} (Pack 2) icon 012.png</li>
        <li>{CamTech075} (Pack 2) icon 013</li>
        <li>{CamTech075} (Pack 2) icon 014</li>
        <li>{CamTech075} (Pack 2) icon 026</li>
        <li>{CamTech075} (Pack 2) icon 026.png</li>
        <li>{CamTech075} (Pack 2) icon 027.png</li>
        <li>{CamTech075} (Pack 2) icon 028.png</li>
        <li>{CamTech075} (Pack 2) icon 030.png</li>
        <li>{CamTech075} (Pack 2) icon 033.png</li>
        <li>{CamTech075} Steel Axe [F2E]</li>
        <li>{Cardcafe} (FE15) Item 12</li>
        <li>{Cardcafe} (FE15) Item 4</li>
        <li>{Cardcafe} (Mixed 2) Item 4</li>
        <li>{Cardcafe} (Mixed 2) Tome 1</li>
        <li>{Cardcafe} (Mixed 2) Tome 13</li>
        <li>{Cardcafe} (Mixed 2) Tome 16.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 21.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 23.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 26.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 28.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 30.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 30.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 31.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 31.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 32.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 33.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 34.png</li>
        <li>{Cardcafe} (Mixed 2) Tome 6.png</li>
        <li>{Cardcafe} Item 4</li>
        <li>{Cardcafe} Tome 3.png</li>
        <li>{Cardcafe} Tome 4.png</li>
        <li>{Cardcafe} Tome 4.png</li>
        <li>{Celice} [Gáe Bolg]</li>
        <li>{Celice} Anima 14.png</li>
        <li>{Celice} Anima 16.png</li>
        <li>{Celice} Anima 17.png</li>
        <li>{Celice} Anima 21.png</li>
        <li>{Celice} Anima 22.png</li>
        <li>{Celice} Anima 23.png</li>
        <li>{Celice} Anima 23.png</li>
        <li>{Celice} Anima 24.png</li>
        <li>{Celice} Anima 4.png</li>
        <li>{Celice} Anima 5.png</li>
        <li>{Celice} Anima 5.png</li>
        <li>{Celice} Anima 6.png</li>
        <li>{Celice} Anima 9.png</li>
        <li>{Celice} Axe 10.png</li>
        <li>{Celice} Axe 14.png</li>
        <li>{Celice} Axe 23.png</li>
        <li>{Celice} Axe 4</li>
        <li>{Celice} Axe 6</li>
        <li>{Celice} Ballista 2</li>
        <li>{Celice} Ballista_3.png</li>
        <li>{Celice} Bow 2-1.png</li>
        <li>{Celice} Bow 5.png</li>
        <li>{Celice} Dark 5.png</li>
        <li>{Celice} Item 12</li>
        <li>{Celice} Item 13</li>
        <li>{Celice} Item 8</li>
        <li>{Celice} Lance 17.png</li>
        <li>{Celice} Lance 18</li>
        <li>{Celice} Lance_8.png</li>
        <li>{Celice} Lance10.png</li>
        <li>{Celice} Light 3.png</li>
        <li>{Celice} Light 5.png</li>
        <li>{Celice} Light 6.png</li>
        <li>{Celice} Light 9</li>
        <li>{Celice} Monster 1.png</li>
        <li>{Celice} Monster 2.png</li>
        <li>{Celice} Staff 11.png</li>
        <li>{Celice} Staff 12.png</li>
        <li>{Celice} Staff 18</li>
        <li>{Celice} Staff 21.png</li>
        <li>{Celice} Staff 22.png</li>
        <li>{Celice} Staff 3.png</li>
        <li>{Celice} Staff 6.png</li>
        <li>{Celice} Staff 8.png</li>
        <li>{Celice} Sword 13</li>
        <li>{Celice} Sword 25.png</li>
        <li>{Celice} Sword 27.png</li>
        <li>{Celice} Sword 30.png</li>
        <li>{Celice} Sword 32.png</li>
        <li>{Celice} Tome 1.png</li>
        <li>{Celice} Tome 2.png</li>
        <li>{Celice} Tome 3.png</li>
        <li>{Celice} Tome 5.png</li>
        <li>{Chamomile} Forseti (FE13)</li>
        <li>{Chamomile} Mystletainn (FE13)</li>
        <li>{Chamomile} Mystletainn (FE13)</li>
        <li>{Chamomile} Tyrfing (FE13)</li>
        <li>{Chamomile} Valkyrie (FE13)</li>
        <li>{Dark} (Succubus) Monster 1.png</li>
        <li>{Dark} (Succubus) Monster 2.png</li>
        <li>{DATonDemand, 2wb} Gullin Katti (Boar Cutter)</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Armor 50</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Axe 11</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Axe 11__Kyle</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Icon 34</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Icon 38</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 19</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 23</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 44</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 50</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 55</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 60</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Item 63</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Staff 6</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 11</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 15</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 16</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 17</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 20.png</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 30.png</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 5</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 6.png</li>
        <li>{EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Sword 7.png</li>
        <li>{Ereshkigal} (Proficient) Axe 1.png</li>
        <li>{Ereshkigal} (Proficient) Lance 2.png</li>
        <li>{Ereshkigal} (Proficient) Lance 4</li>
        <li>{Ereshkigal} (Proficient) Sword 3</li>
        <li>{Ereshkigal} Anima 12.png</li>
        <li>{Ereshkigal} Anima 13.png</li>
        <li>{Ereshkigal} Anima 14.png</li>
        <li>{Ereshkigal} Anima 15.png</li>
        <li>{Ereshkigal} Anima 16.png</li>
        <li>{Ereshkigal} Anima 17.png</li>
        <li>{Ereshkigal} Anima 18.png</li>
        <li>{Ereshkigal} Anima 22.png</li>
        <li>{Ereshkigal} Anima 24.png</li>
        <li>{Ereshkigal} Anima 6.png</li>
        <li>{Ereshkigal} Axe 14.png</li>
        <li>{Ereshkigal} Axe 23.png</li>
        <li>{Ereshkigal} Axe 6.png</li>
        <li>{Ereshkigal} Axe 8.png</li>
        <li>{Ereshkigal} Blade 14</li>
        <li>{Ereshkigal} Blade 14</li>
        <li>{Ereshkigal} Blade 16</li>
        <li>{Ereshkigal} Blade 17</li>
        <li>{Ereshkigal} Blade 9</li>
        <li>{Ereshkigal} Bow 15.png</li>
        <li>{Ereshkigal} Bow 19</li>
        <li>{Ereshkigal} Bow 23</li>
        <li>{Ereshkigal} Dagger 14.png</li>
        <li>{Ereshkigal} Dagger 6</li>
        <li>{Ereshkigal} Dagger 7.png</li>
        <li>{Ereshkigal} Dark 18.png</li>
        <li>{Ereshkigal} Extra 11.png</li>
        <li>{Ereshkigal} Extra 22</li>
        <li>{Ereshkigal} Extra 23</li>
        <li>{Ereshkigal} Extra 23</li>
        <li>{Ereshkigal} Extra 29.png</li>
        <li>{Ereshkigal} Extra 35.png</li>
        <li>{Ereshkigal} Extra 49.png</li>
        <li>{Ereshkigal} Extra 9</li>
        <li>{Ereshkigal} Hammer 1</li>
        <li>{Ereshkigal} Hammer 10</li>
        <li>{Ereshkigal} Hammer 12</li>
        <li>{Ereshkigal} Hammer 13.png</li>
        <li>{Ereshkigal} Hammer 14.png</li>
        <li>{Ereshkigal} Hammer 16</li>
        <li>{Ereshkigal} Hammer 2.png</li>
        <li>{Ereshkigal} Hammer 3.png</li>
        <li>{Ereshkigal} Hammer 4.png</li>
        <li>{Ereshkigal} Hammer 6.png</li>
        <li>{Ereshkigal} Katana 2.png</li>
        <li>{Ereshkigal} Katana 6.png</li>
        <li>{Ereshkigal} Katana 9</li>
        <li>{Ereshkigal} Lance 22______Innes</li>
        <li>{Ereshkigal} Lance 23.png</li>
        <li>{Ereshkigal} Lance 25.png</li>
        <li>{Ereshkigal} Lance 26</li>
        <li>{Ereshkigal} Lance 4</li>
        <li>{Ereshkigal} Lance 6.png</li>
        <li>{Ereshkigal} Lance 7.png</li>
        <li>{Ereshkigal} Proficient Fire 1</li>
        <li>{Ereshkigal} Staff 1</li>
        <li>{Ereshkigal} Staff 11.png</li>
        <li>{Ereshkigal} Staff 12</li>
        <li>{Ereshkigal} Staff 15.png</li>
        <li>{Ereshkigal} Staff 3</li>
        <li>{Ereshkigal} Staff 4.png</li>
        <li>{Ereshkigal} Steel Axe-1.png</li>
        <li>{Ereshkigal} Sword 17______Dozla</li>
        <li>{Ereshkigal} Sword 22</li>
        <li>{Ereshkigal} Sword 4.png</li>
        <li>{Ereshkigal} Unique 11</li>
        <li>{Ereshkigal} Unique 8</li>
        <li>{Ereshkigal} Unique 9</li>
        <li>{Feier} (Icon Blitz 3) Bellringer</li>
        <li>{Feier} (Icon Blitz 3) Tanngrisnir</li>
        <li>{Fenriel, FE12} Levin Sword</li>
        <li>{Fenrier} Gunblade - Lionheart</li>
        <li>{Fenrier} Gunblade - Punishment</li>
        <li>{Fenrier} Gunblade - Revolver</li>
        <li>{FuriousHaunter} Anima Reaver.png</li>
        <li>{FuriousHaunter} Binding Axe [F2E]-1.png</li>
        <li>{FuriousHaunter} Binding Axe.png</li>
        <li>{FuriousHaunter} Binding Blade</li>
        <li>{FuriousHaunter} Dark Reaver.png</li>
        <li>{FuriousHaunter} Day Breaker</li>
        <li>{FuriousHaunter} Death.png</li>
        <li>{FuriousHaunter} Flare Axe.png</li>
        <li>{FuriousHaunter} Ganglari</li>
        <li>{FuriousHaunter} Ganglari______Marisa</li>
        <li>{FuriousHaunter} Glacier.png</li>
        <li>{FuriousHaunter} Glass Axe.png</li>
        <li>{FuriousHaunter} Glass Bow.png</li>
        <li>{FuriousHaunter} Glass Lance.png</li>
        <li>{FuriousHaunter} Grief</li>
        <li>{FuriousHaunter} Lance 1</li>
        <li>{FuriousHaunter} Mjolnir.png</li>
        <li>{FuriousHaunter} Placidity.png</li>
        <li>{FuriousHaunter} Shining Bow.png</li>
        <li>{FuriousHaunter} Viper<strong><em>_</em></strong>Neimi</li>
        <li>{FuriousHaunter} Void Dagger.png</li>
        <li>{GabrielKnight} (1) Icon 12</li>
        <li>{GabrielKnight} (3) Icon 9</li>
        <li>{GabrielKnight} (Blessed&amp;Killer) Axe 1</li>
        <li>{GabrielKnight} (Blessed&amp;Killer) Axe 1.png</li>
        <li>{GabrielKnight} (Blessed&amp;Killer) Bow 1.png</li>
        <li>{GabrielKnight} (Blessed&amp;Killer) Lance 1.png</li>
        <li>{GabrielKnight} (Blessed&amp;Killer) Sword 2.png</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Axe 4.png</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Axe 5.png</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Bow 1</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Bow 5</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Lance 4.png</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Lance 5.png</li>
        <li>{GabrielKnight} (Br,Ir,St,Slvr,Gld) Sword 5.png</li>
        <li>{GabrielKnight} (Icon Blitz 3) Axe-1.png</li>
        <li>{GabrielKnight} (Icon Blitz 3) Axe.png</li>
        <li>{GabrielKnight} (Icon Blitz 3) Bow.png</li>
        <li>{GabrielKnight} (Icon Blitz 3) Lance.png</li>
        <li>{GabrielKnight} (Icon Blitz 3) Sword.png</li>
        <li>{George Reds} (Icon Blitz 1) Axe 1.png</li>
        <li>{George Reds} (Icon Blitz 1) Axe 15.png</li>
        <li>{George Reds} (Icon Blitz 1) Axe 3.png</li>
        <li>{George Reds} (Icon Blitz 1) Bow 1.png</li>
        <li>{George Reds} (Icon Blitz 1) Bow 2.png</li>
        <li>{George Reds} (Icon Blitz 1) Bow 2.png</li>
        <li>{George Reds} (Icon Blitz 1) Lance 3.png</li>
        <li>{George Reds} (Icon Blitz 1) Staff 1</li>
        <li>{George Reds} (Icon Blitz 1) Staff 1</li>
        <li>{George Reds} (Icon Blitz 1) Sword 10.png</li>
        <li>{George Reds} (Icon Blitz 1) Sword 11.png</li>
        <li>{George Reds} (Icon Blitz 1) Sword 6.png</li>
        <li>{George Reds} (Icon Blitz 1) Tome 3.png</li>
        <li>{George Reds} (Icon Blitz 1) Tome 5.png</li>
        <li>{George Reds} Icon_Blitz_1_Lance_4.png</li>
        <li>{George Reds} Icon_Blitz_1_Lance_5.png</li>
        <li>{HyperGammaSpaces} [Light] Sagittae</li>
        <li>{JPN} 5</li>
        <li>{Jubby} [Urvan]-1.png</li>
        <li>{Jubby} Anima 10.png</li>
        <li>{Jubby} Anima 12.png</li>
        <li>{Jubby} Anima 3.png</li>
        <li>{Jubby} Anima 5.png</li>
        <li>{Jubby} Axe 6.png</li>
        <li>{Jubby} Axe 9.png</li>
        <li>{Jubby} Dagger 3<strong><em>_</em></strong>_Colm</li>
        <li>{Jubby} Dagger 5.png</li>
        <li>{Jubby} Dagger 5.png</li>
        <li>{Jubby} Dagger 9</li>
        <li>{Jubby} Lance 10</li>
        <li>{Jubby} Lance 4</li>
        <li>{Jubby} Lance 4</li>
        <li>{Kyrads} Munio Alt B.png</li>
        <li>{Kyrads} Saggitae</li>
        <li>{Kyrads} Seraphim</li>
        <li>{Kyrads} Seraphim Alt</li>
        <li>{Kyrads} Umbra</li>
        <li>{Leif} Dark 2.png</li>
        <li>{Leif} Dark 4.png</li>
        <li>{Leif} Dark 6.png</li>
        <li>{Leif} Dark 7.png</li>
        <li>{Leif} Light 5.png</li>
        <li>{Leif} Light 5.png</li>
        <li>{Leif} Light 6.png</li>
        <li>{Leif} Thunder 5.png</li>
        <li>{Leif} Wind 5.png</li>
        <li>{Lisandra Brave} (FE5 Recolor) 106 8x8</li>
        <li>{Lisandra Brave} (FE5 Recolor) 109 8x8.png</li>
        <li>{Lisandra Brave} (FE5 Recolor) 117 8x8</li>
        <li>{Lisandra Brave} (FE5 Recolor) 64 8x8</li>
        <li>{Lisandra Brave} (FE5 Recolor) 67 8x8</li>
        <li>{Lisandra Brave} (FE5 Recolor) Wind Sword-1.png</li>
        <li>{Lisandra Brave} Tome icon 000 (2).png</li>
        <li>{Lisandra Brave} Tome icon 002 (2).png</li>
        <li>{Lisandra Brave} Tome icon 005 (2).png</li>
        <li>{Lisandra Brave} Tome icon 008 (2).png</li>
        <li>{Lisandra Brave} Tome icon 017.png</li>
        <li>{Lisandra Brave} Vorpal Blade [F2E]-1.png</li>
        <li>{LordGlenn, BwdYeti} (ArchaneaIconProject) Durandal (Blazing)-1.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) Amiti-1.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) Armorsmasher (3x Effectiveness)-1.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) Colichemarde (Chroma)-1.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile014______Garcia</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile027</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile051.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile076</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile080.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile105.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile112.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile115.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile119.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile131.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile133.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile134-1.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile134.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile136</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile143.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile150</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile159.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile165.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile166.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile179.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile185.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile186</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile187.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile191.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile196.png</li>
        <li>{LordGlenn} (ArchaneaIconProject) tile200</li>
        <li>{LordGlenn} (Askr-Embla) Fensalir icon 001.png</li>
        <li>{LordGlenn} (Askr-Embla) Fólkvangr icon 002.png</li>
        <li>{LordGlenn} (FE10 Affinity-WLVL) Icon 012</li>
        <li>{LordGlenn} (FE4 Regalia) icon 007.png</li>
        <li>{LordGlenn} (FE4 Regalia) icon 013.png</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019<strong><em>_</em></strong>Artur</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019<strong><em>_</em></strong>Joshua</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019<strong><em>_</em></strong>Tana</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019______Amelia</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019______L’Arachel</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019______Lute</li>
        <li>{LordGlenn} {ArchaneaIconProject} 2019______Natasha</li>
        <li>{LordGlenn} Axe 18.png</li>
        <li>{LordGlenn} Axe 2.png</li>
        <li>{LordGlenn} Axe 7.png</li>
        <li>{LordGlenn} Bow 17</li>
        <li>{LordGlenn} Dark 11</li>
        <li>{LordGlenn} Dark 3</li>
        <li>{LordGlenn} Dark 5</li>
        <li>{LordGlenn} Dark 6</li>
        <li>{LordGlenn} Item 6</li>
        <li>{LordGlenn} Item 7</li>
        <li>{LordGlenn} Lance 20.png</li>
        <li>{LordGlenn} Lance 27.png</li>
        <li>{LordGlenn} Lance 7.png</li>
        <li>{LordGlenn} Staff 1</li>
        <li>{LordGlenn} Staff 12</li>
        <li>{LordGlenn} Staff 13</li>
        <li>{LordGlenn} Staff 15.png</li>
        <li>{LordGlenn} Staff 17.png</li>
        <li>{LordGlenn} Staff 2</li>
        <li>{LordGlenn} Staff 3</li>
        <li>{LordGlenn} Staff 4</li>
        <li>{LordGlenn} Staff 6.png</li>
        <li>{LordGlenn} Staff 7</li>
        <li>{LordGlenn} Staff 8</li>
        <li>{LordGlenn} Sword 24<strong><em>_</em></strong>__Franz</li>
        <li>{LordGlenn} Sword 26.png</li>
        <li>{LordGlenn} Sword 50.png</li>
        <li>{LordGlenn} Tome 22.png</li>
        <li>{LordGlenn} Tome 30.png</li>
        <li>{lovemachine} Silver Greatlance 02</li>
        <li>{lovemachine} Steel Greatlance</li>
        <li>{MeatOfJustice} Item 5</li>
        <li>{MeatOfJustice} Item 7</li>
        <li>{MeatOfJustice} Scythe 2</li>
        <li>{MeatOfJustice} Scythe 4</li>
        <li>{Mikey_Seregon} [Anima] Mad Growth</li>
        <li>{N426} (Icon Blitz 3) Thundersnow.png</li>
        <li>{Nickt, MisakaMikoto} icon 001</li>
        <li>{Norikins} [Earth] Atlas - Heroes</li>
        <li>{Norikins} [Earth] Demonic Tome - Heroes</li>
        <li>{Norikins} [Earth] Elstone - Heroes</li>
        <li>{Norikins} [Earth] Stone - Heroes</li>
        <li>{Orihara Saki} Calamity Gate</li>
        <li>{Orihara Saki} Medusa Bow.png</li>
        <li>{Orihara Saki} Rauor Snake Spirit</li>
        <li>{Orihara Saki} Rauorserpent.png</li>
        <li>{Orihara Saki} Svatr Snake Spirit</li>
        <li>{Orihara Saki} Valter's Cursed Lance.png</li>
        <li>{Orihara_Saki} [Fire] Rauðr Calamity Gate</li>
        <li>{Orihara_Saki} [Fire] Rauðrserpent</li>
        <li>{Orihara_Saki} [Fire] Rauðrwolf</li>
        <li>{Peerless, Hanakko} Dark Tome</li>
        <li>{Peerless} icon 008</li>
        <li>{Peerless} icon 014.png</li>
        <li>{Peerless} icon 031</li>
        <li>{Peerless} icon 036.png</li>
        <li>{Pikmin} Blank Skill Book</li>
        <li>{Purple} Philippines Bow.png</li>
        <li>{Purple} Riptide</li>
        <li>{Purple} Sheer Cold.png</li>
        <li>{Rootrick, Zarg} (Secret of Evermore) Belt 2</li>
        <li>{Rootrick, Zarg} (Secret of Evermore) Item 15</li>
        <li>{Rootrick, Zarg} (Secret of Evermore) Staff 3</li>
        <li>{Rootrick, Zarg} (Secret of Evermore) Sword 1</li>
        <li>{SacredStones} Baselard.png</li>
        <li>{SacredStones} Binding Blade</li>
        <li>{SacredStones} Hauteclere Heroes DS version</li>
        <li>{SacredStones} Luna Bow (FEH-Echoes) (SacredStones).png</li>
        <li>{SacredStones} Mercurius Awakening version</li>
        <li>{SacredStones} Nidhogg (FEH) (SacredStones)</li>
        <li>{SacredStones} Raijinto.png</li>
        <li>{SaintRubenio} Bow 1</li>
        <li>{SaintRubenio} Lance 3</li>
        <li>{SaintRubenio} Staff 1</li>
        <li>{Scraiza} [Dark] Slow Purple Blast</li>
        <li>{Seal, Sacred War} [Anima] Ragnarok v2</li>
        <li>{Seal} (SacredWar) Axe 3.png</li>
        <li>{Seal} (SacredWar) Ballista 2.png</li>
        <li>{Seal} (SacredWar) Ballista 3</li>
        <li>{Seal} (SacredWar) Ballista 3.png</li>
        <li>{Seal} (SacredWar) Bow 12</li>
        <li>{Seal} (SacredWar) Bow 12</li>
        <li>{Seal} (SacredWar) Bow 3</li>
        <li>{Seal} (SacredWar) Bow 9</li>
        <li>{Seal} (SacredWar) Dark 9.png</li>
        <li>{Seal} (SacredWar) Dark 9.png</li>
        <li>{Seal} (SacredWar) Item 21</li>
        <li>{Seal} (SacredWar) Item 57</li>
        <li>{Seal} (SacredWar) Lance 15.png</li>
        <li>{Seal} (SacredWar) Lance 21</li>
        <li>{Seal} (SacredWar) Light 1</li>
        <li>{Seal} (SacredWar) Light 2</li>
        <li>{Seal} (SacredWar) Light 3</li>
        <li>{Seal} (SacredWar) Light 6.png</li>
        <li>{Seal} (SacredWar) Monster 10</li>
        <li>{Seal} (SacredWar) Monster 10.png</li>
        <li>{Seal} (SacredWar) Monster 13</li>
        <li>{Seal} (SacredWar) Monster 14</li>
        <li>{Seal} (SacredWar) Monster 15</li>
        <li>{Seal} (SacredWar) Monster 16</li>
        <li>{Seal} (SacredWar) Monster 2.png</li>
        <li>{Seal} (SacredWar) Monster 3</li>
        <li>{Seal} (SacredWar) Monster 4</li>
        <li>{Seal} (SacredWar) Monster 5.png</li>
        <li>{Seal} (SacredWar) Monster 6.png</li>
        <li>{Seal} (SacredWar) Monster 7.png</li>
        <li>{Seal} (SacredWar) Monster 8.png</li>
        <li>{Seal} (SacredWar) Monster 9.png</li>
        <li>{Seal} (SacredWar) Staff 1</li>
        <li>{Seal} (SacredWar) Staff 10.png</li>
        <li>{Seal} (SacredWar) Staff 15.png</li>
        <li>{Seal} (SacredWar) Staff 19.png</li>
        <li>{Seal} (SacredWar) Staff 22</li>
        <li>{Seal} (SacredWar) Staff 25</li>
        <li>{Seal} (SacredWar) Staff 6.png</li>
        <li>{Seal} (SacredWar) Sword 19.png</li>
        <li>{Seal} (SacredWar) Tome 1.png</li>
        <li>{Seliost1} Crimson Rose</li>
        <li>{SHYUTERz} [Breath] Ice Breath</li>
        <li>{SHYUTERz} [Dark] Blood Sigil</li>
        <li>{SkidMarc25} Fervor's Cut.png</li>
        <li>{SkidMarc25} Hell Sickle.png</li>
        <li>{SkidMarc25} Libido Scythe.png</li>
        <li>{SkidMarc25} Scythe.png</li>
        <li>{SmithyGCN, Zarg} (Soul Blazer) Item 15</li>
        <li>{SmithyGCN, Zarg} (Soul Blazer) Item 51</li>
        <li>{SMITHYGCN} Hammer 4.png</li>
        <li>{SMITHYGCN} Lance 6.png</li>
        <li>{SMITHYGCN} Potion III</li>
        <li>{SMITHYGCN} Potion V</li>
        <li>{SMITHYGCN} Sword 10.png</li>
        <li>{SMITHYGCN} Sword 12.png</li>
        <li>{SMITHYGCN} Sword 25.png</li>
        <li>{SMITHYGCN} Sword 5.png</li>
        <li>{SN_Ivan} Killer Lance (Radiant Dawn)______Cormag</li>
        <li>{SN_Ivan} Light</li>
        <li>{SN_Ivan} Storm Sword (Radiant Dawn)</li>
        <li>{Snakey1} icon 011.png</li>
        <li>{Snakey1} icon 019.png</li>
        <li>{St jack, Aegius, PurpleMage} [Fire] Heat Ray</li>
        <li>{tatutachang} Champions Sword.png</li>
        <li>{Teraspark} [Fire] Inferno</li>
        <li>{The Big Dededester} Demon Axe</li>
        <li>{The Big Dededester} Demon Basilikos.png</li>
        <li>{The Big Dededester} Demon Regal Blade</li>
        <li>{The Big Dededester} Demon Regal Blade</li>
        <li>{The Big Dededester} Demon Reinfleche.png</li>
        <li>{The Big Dededester} Godspenst.png</li>
        <li>{Thunder Mage} Anima 3</li>
        <li>{Thunder Mage} Anima 33.png</li>
        <li>{Thunder Mage} Anima 38.png</li>
        <li>{Thunder Mage} Anima 4</li>
        <li>{Thunder Mage} Anima 40.png</li>
        <li>{Thunder Mage} Anima 5</li>
        <li>{Thunder Mage} Tome 6</li>
        <li>{Thunder Mage} Tome 7</li>
        <li>{Thunder Mage} Tome 9</li>
        <li>{Topazlight} Adamant Club (Old)</li>
        <li>{Topazlight} Adamant Club</li>
        <li>{Topazlight} Imposing Axe</li>
        <li>{Topazlight} Mace</li>
        <li>{Topazlight} Mace - No Loop Guard</li>
        <li>{Topazlight} Mage Ring TCG</li>
        <li>{Topazlight} Swordcatcher</li>
        <li>{Valak} (Icon Blitz 1) Book 15</li>
        <li>{Valak} (Icon Blitz 1) Book 7</li>
        <li>{Valak} (Icon Blitz 1) Bow 1</li>
        <li>{Valak} (Icon Blitz 1) Bow 4</li>
        <li>{Valak} (Icon Blitz 1) Bow 5</li>
        <li>{Valak} (Icon Blitz 1) Tome 2.png</li>
        <li>{Valak} (Icon Blitz 1) Tome 22.png</li>
        <li>{Valak} (Icon Blitz 1) Tome 23.png</li>
        <li>{Valak} (Icon Blitz 1) Tome 26.png</li>
        <li>{Valak} (Icon Blitz 1) Tome 7</li>
        <li>{VelvetKitsune, 2WB, Ereshkigal} Silver Zweihander</li>
        <li>{VelvetKitsune, 2WB, Zelix} Silver Joustlance</li>
        <li>{VelvetKitsune, EldritchA, Indogutsu Tenbuki} (Tactics Ogre) Obsidian Blade</li>
        <li>{VelvetKitsune} Aurion-1.png</li>
        <li>{VelvetKitsune} Disintegrator.png</li>
        <li>{VelvetKitsune} Savagery.png</li>
        <li>{WhatIsAnAubin} Warding Amulet</li>
        <li>{WhydidImakethisaccount} Item 3</li>
        <li>{Windsweep} Gold Scroll</li>
        <li>{Windsweep} Shadow Sowrd</li>
        <li>{Zane} (Icon Blitz 1) Bow 3</li>
        <li>{Zane} (Icon Blitz 1) Bow 6.png</li>
        <li>{Zane} (Icon Blitz 1) Lance 15.png</li>
        <li>{Zane} (Icon Blitz 1) Sword 12</li>
        <li>{Zane} (Icon Blitz 1) Sword 21</li>
        <li>{Zane} (Icon Blitz 1) Sword 6.png</li>
        <li>{Zane} (Icon Blitz 1) Sword 9</li>
        <li>{Zane} Axe 18</li>
        <li>{Zane} Axe 29.png</li>
        <li>{Zane} Axe 43.png</li>
        <li>{Zane} Axe 6.png</li>
        <li>{Zane} icon 029.png</li>
        <li>{Zane} icon 044.png</li>
        <li>{Zane} icon 058</li>
        <li>{Zane} icon 074</li>
        <li>{Zane} icon 090.png</li>
        <li>{Zane} icon 094.png</li>
        <li>{Zane} icon 164.png</li>
        <li>{Zane} icon 203.png</li>
        <li>{Zane} icon 218</li>
        <li>{Zarg} (Icon Blitz 3) Axe.png</li>
        <li>{Zarg} (Icon Blitz 3) Star Staff.png</li>
        <li>{Zarg} Anima 5</li>
        <li>{Zarg} Anima 9.png</li>
        <li>{Zarg} Axe 11.png</li>
        <li>{Zarg} Axe 24.png</li>
        <li>{Zarg} Axe 29.png</li>
        <li>{Zarg} Axe 33</li>
        <li>{Zarg} Axe 4.png</li>
        <li>{Zarg} Bow 16</li>
        <li>{Zarg} Bow 16</li>
        <li>{Zarg} Bow 17.png</li>
        <li>{Zarg} Bow 26</li>
        <li>{Zarg} Bow 4.png</li>
        <li>{Zarg} Bow 9</li>
        <li>{Zarg} Dark 2</li>
        <li>{Zarg} Dark 4</li>
        <li>{Zarg} Dark 9</li>
        <li>{Zarg} Dark 9.png</li>
        <li>{Zarg} Item 14</li>
        <li>{Zarg} Item 17</li>
        <li>{Zarg} Item 25</li>
        <li>{Zarg} Item 34</li>
        <li>{Zarg} Lance 10.png</li>
        <li>{Zarg} Lance 24.png</li>
        <li>{Zarg} Lance 25.png</li>
        <li>{Zarg} Lance 27.png</li>
        <li>{Zarg} Lance 28</li>
        <li>{Zarg} Lance 29</li>
        <li>{Zarg} Lance 31.png</li>
        <li>{Zarg} Lance 33</li>
        <li>{Zarg} Lance 33</li>
        <li>{Zarg} Light 3.png</li>
        <li>{Zarg} Monster 1</li>
        <li>{Zarg} Monster 14</li>
        <li>{Zarg} Monster 15</li>
        <li>{Zarg} Monster 17</li>
        <li>{Zarg} Monster 3</li>
        <li>{Zarg} Monster 5</li>
        <li>{Zarg} Monster 7</li>
        <li>{Zarg} Staff 12</li>
        <li>{Zarg} Staff 14.png</li>
        <li>{Zarg} Staff 17</li>
        <li>{Zarg} Staff 18.png</li>
        <li>{Zarg} Staff 19</li>
        <li>{Zarg} Staff 19</li>
        <li>{Zarg} Staff 20</li>
        <li>{Zarg} Staff 23.png</li>
        <li>{Zarg} Staff 24.png</li>
        <li>{Zarg} Staff 26.png</li>
        <li>{Zarg} Staff 27.png</li>
        <li>{Zarg} Staff 3.png</li>
        <li>{Zarg} Staff 5.png</li>
        <li>{Zarg} Staff 7</li>
        <li>{Zarg} Staff 8.png</li>
        <li>{Zarg} Staff 9.png</li>
        <li>{Zarg} Sword 15.png</li>
        <li>{Zarg} Sword 17.png</li>
        <li>{Zarg} Sword 27.png</li>
        <li>{Zarg} Sword 40</li>
        <li>{Zarg} Sword 6</li>
        <li>{Zelix} BraveLance</li>
        <li>{Zelix} HorseLance.png</li>
        <li>{Zelix} icon 013</li>
        <li>{Zelix} icon 023.png</li>
        <li>{Zelix} icon 025.png</li>
        <li>{Zelix} icon 052.png</li>
        <li>{Zelix} icon 064</li>
        <li>{Zelix} icon 067</li>
        <li>{Zelix} icon 072.png</li>
        <li>{Zelix} icon 078</li>
        <li>{Zelix} icon 082</li>
        <li>{Zelix} icon 084</li>
        <li>{Zelix} icon 087</li>
        <li>{Zelix} icon 090</li>
        <li>{Zelix} icon 092</li>
        <li>{Zelix} icon 093</li>
        <li>{Zelix} icon 094.png</li>
        <li>{Zelix} icon 095.png</li>
        <li>{Zelix} icon 133</li>
        <li>{Zelix} icon 138</li>
        <li>{Zelix} icon 139</li>
        <li>{Zelix} icon 140</li>
        <li>{Zelix} icon 149</li>
        <li>{Zelix} icon 151</li>
        <li>{Zelix} icon 163</li>
        <li>{Zelix} icon_047.png</li>
        <li>{Zelix} KillingAxe</li>
        <li>{Zelix} LongBow</li>
        <li>{Zelix} MonsterLance.png</li>
        <li>{Zelix} PoisonAxe</li>
        <li>{Zelix} ShortAxe</li>
        <li>{Zoramine} Cavalier (M) Promoted Spider Rider</li>
    </ul>
</section>
{% endblock content %}