{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% endif %}
{% block title %}Home | {% endblock %}
{% block content %}
<hgroup>
  <h1>FE8R Reference Guide</h1>
</hgroup>
<section>
  <p>This is a simple reference guide for <a href="https://github.com/FE8Dev/FE8RProject">Fire Emblem 8R</a> using the
    <a href="https://lex-talionis.net/">Lex Talionis
      Engine</a>
  </p>
  <ul>
    <li>
      <a href="{{ url_for('units.get_fe_unit_index') }}">Units</a>
    </li>
    <li><a href="{{ url_for('items.get_fe_item_index') }}">Items</a>
      <ul>
        <li>
          <a href="{{ url_for('items.get_fe_arsenal') }}">Arsenals</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ url_for('classes.get_fe_class_index') }}">Classes</a>
    </li>
    <li>
      <a href="{{ url_for('skills.get_fe_skill_index') }}">Skills</a>
    </li>
    <li>
      <a href="{{ url_for('get_credits') }}">Credits</a>
    </li>
  </ul>
</section>

{% endblock content %}