{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% block title %}{{ item_data.name }} &mdash; Items | {% endblock %}
{% endif %}
{% block content %}
<article>
    <header>
        <strong>{{ item_data.name }} <span class="{{ item_data.icon_class }}"></span></strong>
    </header>
    {% if (item_data.weapon_type and item_data.weapon_type not in ['Misc','Accessory','Held Item']) or
    item_data.min_range or item_data.weight or
    item_data.damage or item_data.hit or
    item_data.crit or item_data.value %}
    <section class="stat-grid">
        {% if item_data.weapon_type not in ['Misc','Accessory','Held Item'] %}
        <div>
            <span class=" Wexpicons-icon {{ item_data.weapon_type }}-subIcon"></span>{% if item_data.weapon_rank %}
            {{item_data.weapon_rank}}{% endif %}<br />
        </div>
        {% endif %}
        {% if item_data.min_range %}
        <div>
            {% if item_data.min_range == item_data.max_range %}
            <span class="lt-color-yellow">Rng: </span>{{ item_data.min_range }}<br />
            {% else %}
            <span class="lt-color-yellow">Rng: </span>{{ item_data.min_range }}&ndash;{{ item_data.max_range
            }}<br />
            {% endif %}
        </div>
        {% endif %}
        {% if item_data.weight %}
        <div>
            <span class="lt-color-yellow">Wt: </span>{{ item_data.weight }}<br />
        </div>
        {% endif %}
        {% if item_data.damage %}
        <div>
            <span class="lt-color-yellow">Mt: </span>{{ item_data.damage }}<br />
        </div>
        {% endif %}
        {% if item_data.hit %}
        <div>
            <span class="lt-color-yellow">Hit: </span>{{ item_data.hit }}<br />
        </div>
        {% endif %}
        {% if item_data.crit %}
        <div>
            <span class="lt-color-yellow">Crit: </span>{{ item_data.crit }}<br />
        </div>
        {% endif %}
        {% if item_data.value %}
        <div>
            <span class="lt-color-yellow">Value: </span>{{ item_data.value|currency_format }}<br />
        </div>
        {% endif %}
        {% endif %}
    </section>
    {% if item_data.desc %}
    <section>
        <p>{{ item_data.desc }}</p>
    </section>
    {% endif %}
    {% if item_data.status_on_equip and request.args.get('hideSkills') != "true" %}
    <br />
    <section class="skill-grid">
        {% for skill in item_data.status_on_equip %}
        <div>
            <p></p>
            <div hx-get=/skills/{{skill.nid}} hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}
    {% if item_data.nid in
    ['Crystal_Ring_DG','Antitoxin','Elixir','Vulnerary','Orsons_Vuln_Multi','Treat','Regenerating_Concoction_DG']
    %}
    <br />
    <section class="skill-grid">
        {% for subitem in item_data.sub_items %}
        <div>
            <p></p>
            <div hx-get=/items/{{subitem.nid}} hx-vals='{"hideSkills": "true"}' hx-trigger=" load" hx-target="this"
                hx-swap="outerHTML">
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}
    {% if not request.headers.hx_request%}
    <footer>
        {% if item_data.categories %}
        <strong><small>Categories:</small></strong>
        {% for item_cat in item_data.categories%}
        <a href="/items?selectedCategory={{ item_cat.nid }}"><small>{{ item_cat.name }}</small></a>
        {% if not loop.last %}
        |
        {% else %}
        &nbsp;&nbsp;
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if item_data.arsenals %}
        <strong><small>Arsenals:</small></strong>
        {% for arsenal in item_data.arsenals %}
        <a href="/items/arsenals/{{ arsenal.arsenal_owner_nid }}"><small>{{ arsenal.name }}</small></a>
        {% if not loop.last %}
        |
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if item_data.shops %}
        <strong><small>Shops:</small></strong>
        {% for shop in item_data.shops %}
        <a href="/items/shops/{{ shop.nid }}"><small>{{ shop.abbr_name }}</small></a>
        {% if not loop.last %}
        |
        {% endif %}
        {% endfor %}
        {% endif %}
    </footer>
    {% endif %}
</article>
{% endblock content %}