{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% block title %}{{ item_data.name }} &mdash; Items | {% endblock %}
{% endif %}
{% block content %}
<article>
    <header>
        <strong>{{ item_data.name }} <span class="{{ item_data.icon_class }}"></span></strong>
        {% if not request.headers.hx_request or '/items' in request.headers.hx_current_url %}
        <a class="secondary align-right clickable"
            _="on click call navigator.clipboard.writeText('[{{item_data.name}}](https://fe8r-guide.onrender.com/items/{{item_data.nid}})') put 'Copied!' into me wait 1s put 'Copy' into me"">Copy</a>
        {% endif %}
    </header>
    {% if item_data.weapon_type %}
    <span class=" Wexpicons-icon {{ item_data.weapon_type }}-subIcon"></span>{% if
            item_data.weapon_rank %} {{ item_data.weapon_rank
            }}{% endif %}<br />
            {% endif %}
            {% if item_data.min_range %}
            {% if item_data.min_range == item_data.max_range %}
            <span class="pico-color-amber-150">Rng: </span>{{ item_data.min_range }}<br />
            {% else %}
            <span class="pico-color-amber-150">Rng: </span>{{ item_data.min_range }}&ndash;{{ item_data.max_range
            }}<br />
            {% endif %}
            {% endif %}
            {% if item_data.weight %}
            <span class="pico-color-amber-150">Wt: </span>{{ item_data.weight }}<br />
            {% endif %}
            {% if item_data.damage %}
            <span class="pico-color-amber-150">Mt: </span>{{ item_data.damage }}<br />
            {% endif %}
            {% if item_data.hit %}
            <span class="pico-color-amber-150">Hit: </span>{{ item_data.hit }}<br />
            {% endif %}
            {% if item_data.crit %}
            <span class="pico-color-amber-150">Crit: </span>{{ item_data.crit }}<br />
            {% endif %}
            {% if item_data.value %}
            <span class="pico-color-amber-150">Value: </span>{{ item_data.value }}<br />
            {% endif %}
            {% if item_data.desc %}
            <p>{{ item_data.desc }}</p>
            {% endif %}
            <div class="grid">
                {% for skill_nid in item_data.status_on_equip %}
                <div hx-get=/skills/{{skill_nid}} hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
                </div>
                {% endfor %}
            </div>
            {% if item_data.nid == 'Crystal_Ring_DG' %}
            <div class="grid">
                {% for subitem_nid in item_data.sub_items %}
                <div hx-get=/items/{{subitem_nid}} hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
                </div>
                {% endfor %}
            </div>
            {% endif %}
</article>
{% endblock content %}