<div class="skill-grid">
    {% for group_data in grouped_units %}
    <div>
        <h3>{% if group_data.key %}{{ group_data.key }}{% else %}N/A{% endif %}</h3>

        {% for unit in group_data['units']%}
        <p><img src="/static/images/portraits/{{ unit.portrait_nid|urlencode }}.png" height="60" width="72" /><a
                href="/units/{{ unit.nid }}">{{ unit.name }}</a>
        </p>
        {% endfor %}

    </div>
    {% endfor %}
</div>