{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% endif %}
{% block content %}
<div id="charsheet">
  <div class="grid">
    {% for unit_cat, unit_cat_values in unit_cats.items() %}
    <div>
      <details class="dropdown">
        <summary>{{ unit_cat }}</summary>
        <ul>
          {% for feunit in unit_cat_values %}
          <li><a hx-get="/units/{{ feunit[1] }}" hx-target="#charsheet" hx-swap="outerHTML">{{ feunit[0] }}</a></li>
          {% endfor %}
        </ul>
      </details>
    </div>
    {% endfor %}
  </div>
  <hgroup>
    <h1>{{ unit_data.name }}</h1>
    <p>{{ unit_data.desc }}</p>
  </hgroup>
  <section>
    <hgroup>
      <h2>{{ unit_data.base_class_data.name}}</h2>
      <p>{{ unit_data.base_class_data.desc}}</p>
    </hgroup>
    <table class="striped">
      <thead>
        <tr>
          <th scope="col">Stat</th>
          <th scope="col">
            Base
          </th>
          <th scope="col">
            Growth
          </th>
          <th scope="col">
            Cap
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">HP</th>
          <td>{{ unit_data.bases.hp }}</td>
          <td>+{{ unit_data.growths.hp }}%</td>
          <td>{{ unit_data.stat_caps.hp }}</td>
        </tr>
        <tr>
          <th scope="row">STR</th>
          <td>{{ unit_data.bases.str }}</td>
          <td>+{{ unit_data.growths.str }}%</td>
          <td>{{ unit_data.stat_caps.str }}</td>
        </tr>
        <tr>
          <th scope="row">MAG</th>
          <td>{{ unit_data.bases.mag }}</td>
          <td>+{{ unit_data.growths.mag }}%</td>
          <td>{{ unit_data.stat_caps.mag }}</td>
        </tr>
        <tr>
          <th scope="row">SKL</th>
          <td>{{ unit_data.bases.skl }}</td>
          <td>+{{ unit_data.growths.skl }}%</td>
          <td>{{ unit_data.stat_caps.skl }}</td>
        </tr>
        <tr>
          <th scope="row">SPD</th>
          <td>{{ unit_data.bases.spd }}</td>
          <td>+{{ unit_data.growths.spd }}%</td>
          <td>{{ unit_data.stat_caps.spd }}</td>
        </tr>
        <tr>
          <th scope="row">LCK</th>
          <td>{{ unit_data.bases.lck }}</td>
          <td>+{{ unit_data.growths.lck }}%</td>
          <td>{{ unit_data.stat_caps.lck }}</td>
        </tr>
        <tr>
          <th scope="row">DEF</th>
          <td>{{ unit_data.bases.df }}</td>
          <td>+{{ unit_data.growths.df }}%</td>
          <td>{{ unit_data.stat_caps.df }}</td>
        </tr>
        <tr>
          <th scope="row">RES</th>
          <td>{{ unit_data.bases.res }}</td>
          <td>+{{ unit_data.growths.res }}%</td>
          <td>{{ unit_data.stat_caps.res }}</td>
        </tr>
        <tr>
          <th scope="row">CON</th>
          <td>{{ unit_data.bases.con }}</td>
          <td>+{{ unit_data.growths.con }}%</td>
          <td>{{ unit_data.stat_caps.con }}</td>
        </tr>
        <tr>
          <th scope="row">MOV</th>
          <td>{{ unit_data.bases.mov }}</td>
          <td>+{{ unit_data.growths.mov }}%</td>
          <td>{{ unit_data.stat_caps.mov }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  {% if unit_data.base_class_data.turns_into %}
  <section>
    <h3>Promotion Classes</h3>
    {% if unit_data.base_class_data.tier == 1 %}
    {% for t2_class_data in unit_data.base_class_data.turns_into %}
    <div class="grid">
      <div hx-get="/units/classes?FEUnitNid={{unit_data.nid}}&FEClassNid={{t2_class_data.nid}}" hx-trigger="load"
        hx-target="this"></div>
      <div>
        {% for t3_class_data in t2_class_data.turns_into %}
        <div hx-get="/units/classes?FEUnitNid={{unit_data.nid}}&FEClassNid={{t3_class_data.nid}}" hx-trigger="load"
          hx-target="this"></div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% elif unit_data.base_class_data.tier == 0 %}
    {% for t1_class_data in unit_data.base_class_data.turns_into %}
    <div class="grid">
      <div hx-get="/units/classes?FEUnitNid={{unit_data.nid}}&FEClassNid={{t1_class_data.nid}}" hx-trigger="load"
        hx-target="this"></div>
      <div>
        {% for t2_class_data in t1_class_data.turns_into %}
        <div class="grid">

          <div hx-get="/units/classes?FEUnitNid={{unit_data.nid}}&FEClassNid={{t2_class_data.nid}}" hx-trigger="load"
            hx-target="this"></div>

          {% for t3_class_data in t2_class_data.turns_into %}
          <div hx-get="/units/classes?FEUnitNid={{unit_data.nid}}&FEClassNid={{t3_class_data.nid}}" hx-trigger="load"
            hx-target="this"></div>
          {% endfor %}

        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</section>
{% endif %}
</div>
{% endblock content %}