{% if not request.headers.hx_request %}
{% extends "layout.html.jinja2" %}
{% block title %}{{ unit_data.name }} &mdash; Units | {% endblock %}
{% endif %}
{% block content %}
<div id="unitSheet">
  <div class="unit-head-container">
    <div class="div1"><img src="/static/images/portraits/{{ unit_data.portrait_nid|urlencode }}.png" /></div>
    <div class="div2">
      <hgroup>
        <h2>{{ unit_data.name }}</h2>
        <p>{{ unit_data.desc }}</p>
      </hgroup>
    </div>
  </div>
  <br />

  <div class="unit-head-container">
    <div class="div1">
      <img
        src="{{ url_for('static',filename='images/map_sprites/'+unit_data.base_class.map_sprite_nid+'-stand.webp') }}"
        height="96" width="96" />
    </div>
    <div class="div2">
      <hgroup>
        <h3>{{ unit_data.base_class.name }}</h3>
        <p>{{ unit_data.base_class.desc }}
          {% if unit_data.base_class.weapons%}
          <br />
          <span class="lt-color-red">Prof:</span>
          {% for weapon in unit_data.base_class.weapons%}
          <span class="{{ weapon.icon_class }}"></span>
          {% endfor %}
          {% endif %}
        </p>
      </hgroup>
    </div>
  </div>

  <div class="overflow-auto">
    <table class="striped">
      {% set stat_names = ('HP','STR','MAG','SKL','SPD','LCK','DEF','RES','CON','MOV') %}
      <thead>
        <tr>
          <th scope="col">Stat</th>
          {% for stat_name in stat_names %}
          <th scope="col">{{ stat_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Base</th>
          {% for stat_name in stat_names[:-1] %}
          <td>{{ unit_data.base_class.promotion[stat_name] + unit_data.bases[stat_name] }}</td>
          {% endfor %}
          <td>{{ unit_data.base_class.bases['MOV'] }}</td>
        </tr>
        <tr>
          <th scope="row">Growth</th>
          {% for stat_name in stat_names %}
          <td
            class="lt-color-{{ (unit_data.base_class.growth_bonus[stat_name] + unit_data.growths[stat_name])|growth_colors }}">
            {{ unit_data.base_class.growth_bonus[stat_name] + unit_data.growths[stat_name] }}%</td>
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Cap</th>
          {% for stat_name in stat_names %}
          <td>{{ unit_data.base_class.max_stats[stat_name] + unit_data.stat_cap_modifiers[stat_name]}}</td>
          {% endfor %}
        </tr>
    </table>
  </div>

  {% if unit_data.learned_skills or unit_data.base_class.learned_skills%}
  <details name="sections" open>
    <summary>Skills</summary>
    <div class="skill-grid">
      {% for skill in unit_data.learned_skills|sort(attribute="level") %}
      <div>
        <p><small>Level {{skill.level}}</small></p>
        <div hx-get=/skills/{{skill.skill_nid}} hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
        </div>
      </div>
      {% endfor %}
      {% for skill in unit_data.base_class.learned_skills|sort(attribute="level") %}
      <div>
        <p><small>Level {{skill.level}}</small></p>
        <div hx-get=/skills/{{skill.skill_nid}} hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
        </div>
      </div>
      {% endfor %}
    </div>
  </details>
  <hr />
  {% endif %}

  <details name="sections">
    <summary>Promotions</summary>
    {% if unit_data.base_class.tier == 0 %}
    <div id="classT1Selector">
      <label>Tier 1</label>
      {% if unit_data.base_class.turns_into|length > 1%}
      <select class="unitClassSelect" name="unitClassSelect" aria-label="Select unit" required
        hx-get="/units/{{ unit_data.nid }}/classes" hx-target="#unitClassT1Sheet" hx-indicator="#unitClassT1Sheet"
        hx-swap="innerHTML"
        _="on change set #unitClassT3Sheet.innerHTML to '' then set #unitClassT2Sheet.innerHTML to ''">
        <option value="default" selected disabled>Select a tier 1 class</option>
        {% for promo_class_t2 in unit_data.base_class.turns_into %}
        <option value="{{ promo_class_t2.nid }}">{{ promo_class_t2.name }}</option>
        {% endfor %}
      </select>
      {% else %}
      {% set promo_class_t2=unit_data.base_class.turns_into|first%}
      <div hx-vals='{"unitClassSelect":"{{ promo_class_t2.nid }}"}' hx-get="/units/{{ unit_data.nid }}/classes"
        hx-target="#unitClassT1Sheet" hx-indicator="#unitClassT1Sheet" hx-swap="innerHTML" hx-trigger="load"></div>
      {% endif %}
    </div>
    {% else %}
    <div id="classT2Selector">
      <label>Tier 2</label>
      {% if unit_data.base_class.turns_into|length > 1%}
      <select class="unitClassSelect" name="unitClassSelect" aria-label="Select unit" required
        hx-get="/units/{{ unit_data.nid }}/classes" hx-target="#unitClassT2Sheet" hx-indicator="#unitClassT2Sheet"
        hx-swap="innerHTML" _="on change set #unitClassT3Sheet.innerHTML to ''">
        <option value="default" selected disabled>Select a tier 2 class</option>
        {% for promo_class_t2 in unit_data.base_class.turns_into%}
        <option value="{{ promo_class_t2.nid }}">{{ promo_class_t2.name }}</option>
        {% endfor %}
      </select>
      {% else %}
      {% set promo_class_t2=unit_data.base_class.turns_into|first%}
      <div hx-vals='{"unitClassSelect":"{{ promo_class_t2.nid }}"}' hx-get="/units/{{ unit_data.nid }}/classes"
        hx-target="#unitClassT2Sheet" hx-indicator="#unitClassT2Sheet" hx-swap="innerHTML" hx-trigger="load"></div>
      {% endif %}
    </div>
    {% endif %}
    <div id="unitClassT1Sheet"></div>
    <div id="unitClassT2Sheet"></div>
    <div id="unitClassT3Sheet"></div>
  </details>
  <hr />

  {% if unit_data.starting_items %}
  <details name="sections">
    <summary>Starting Items</summary>

    <div class="skill-grid">
      {% for item in unit_data.starting_items %}

      <div>
        <p></p>
        <div hx-get=/items/{{item.nid}} hx-vals='{"hideSkills": "true"}' hx-trigger=" load" hx-target="this"
          hx-swap="outerHTML">
        </div>
      </div>

      {% endfor %}
    </div>

  </details>
  <hr />
  {% endif %}

  {% if unit_data.arsenals %}
  <details name="sections">
    <summary>Arsenals</summary>
    <div>
      <div hx-get="/items/arsenals/{{unit_data.nid}}" hx-trigger=" load" hx-target="this" hx-swap="outerHTML">
      </div>
    </div>
</div>

</details>
<hr />
{% endif %}

{% if unit_data.supports %}
<details name="sections">
  <summary>Supports</summary>
  <ul>
    {% for support in unit_data.supports %}
    <li>
      <details name="example">
        <summary>
          <a href="/units/{{ support.nid }}">{{
            support.name }}</a>
          <span class="{{ support.affinity.icon_class }}"></span>
        </summary>
        <div class="overflow-auto">
          <table class="striped">
            <thead>
              <tr>
                {% for stat, stat_val in support.affinity.bonus[0]|items %}
                {% if stat == "RANK" or stat_val|float > 0.0 %}
                <th scope="col">{{ stat }}</th>
                {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for bonus_data in support.affinity.bonus %}
              <tr>
                {% for stat, stat_val in bonus_data|items %}
                {% if stat != "RANK" and stat_val|float > 0.0 %}
                <td>+{{ stat_val }}</td>
                {% elif stat == "RANK"%}
                <th scope="row">{{ stat_val }}</th>
                {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </details>
    </li>
    {% endfor %}
  </ul>
</details>
<hr />
{% endif %}

{% if unit_data.quotes %}
<details name="sections">
  <summary>Quotes</summary>
  <h5>Promotion Quotes</h5>
  <div>
    {% for promo_nid, promo_quote_data in unit_data.quotes|items %}
    {% for quote in promo_quote_data.quotes %}
    <blockquote>{{quote}}<footer>
        <cite>— {{unit_data.name}}, upon promoting to {{promo_quote_data.name}}</cite>
      </footer>
    </blockquote>

    {% endfor %}
    {% endfor %}
  </div>
  </div>

</details>
<hr />
{% endif %}

{% if unit_data.categories %}
<strong><small>Categories:</small></strong>
{% for unit_cat in unit_data.categories|sort(attribute='order_key')%}
<a href="/units?selectedCategory={{ unit_cat.nid }}"><small>{{ unit_cat.name }}</small></a>
{% if not loop.last %}
|
{% else %}
&nbsp;&nbsp;
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock content %}